body,html{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    text-align: center;
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family:sans-serif;
    /*1.5em = 20px*/
}
p{font-size:18px;}h3{font-size:20px;}
a{text-decoration: none;}button:focus,input:focus{outline:none;}

@media screen and (min-width:280px){
    .wrapper{
        color:white;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color:rgba(15, 15, 15, 0.38);
        padding:20px;
        transform:translate(-50%,-50%);
        top:50%;
        left:50%;
        position: absolute;
        height:320px;
        width:230px;
        border-radius:10px;
    }
    .wrapper-desactive{
        display:none;
    }
    .wrapper button{
        width:210px;
        background:rgb(250,100,50);
        padding:5px;
        border-radius:15px;
        border:1px solid rgb(250,100,50);
        color:white;
        font-size:20px;
        letter-spacing: 1.2px;
        margin: 20px;
    }

    .wrapper2,.wrapper3,.wrapper4{
        color:white;
        background-color:rgba(15, 15, 15, 0.38);
        padding:20px;
        transform:translate(-50%,-50%);
        top:50%;
        left:50%;
        position: absolute;
        height:350px;
        width:230px;
        border-radius:10px;
        display:none;

    }
    .wrapper2 i, .wrapper3 i{
        border:1px solid white;
        border-radius: 100%;
        padding:5px;
        font-size:20px;
        float: left;
    }
    .wrapper2 form, .wrapper3 form{
        display:flex;
        flex-direction: column;
        align-items: center;
        color:white;
        margin:10px;
    }
    .wrapper2 form h1, .wrapper3 form h1{
        letter-spacing: 1.3px;
    }
    .wrapper2 form label, .wrapper3 form label{
        font-size:25px;
        letter-spacing: 1.2px;
    }
    .wrapper2 input, .wrapper3 input{
        border:1px solid gray;
        border-radius:15px;
        height:20px;
        width:200px;
        padding:5px;
    }
    .wrapper2 button, .wrapper3 button, .btn-user button{
        width:210px;
        background:rgb(250,100,50);
        padding:5px;
        border-radius:15px;
        border:1px solid rgb(250,100,50);
        color:white;
        font-size:20px;
        letter-spacing: 1.2px;
    }
    .wrapper2-active{
        display:block;
    }
    .wrapper3{
        height:430px;
    }
    .wrapper3-active{
        display:block;
    }
    .wrapper4{
        display:block;
    }
    
    #user i{
        font-size:50px;
    }
}
@media screen and (min-width:350px){
    .wrapper{
        color:white;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color:rgba(15, 15, 15, 0.38);
        padding:20px;
        transform:translate(-50%,-50%);
        top:50%;
        left:50%;
        position: absolute;
        height:350px;
        width:300px;
        border-radius:10px;
    }
    .wrapper-desactive{
        display:none;
    }
    .wrapper button{
        width:210px;
        background:rgb(250,100,50);
        padding:5px;
        border-radius:15px;
        border:1px solid rgb(250,100,50);
        color:white;
        font-size:20px;
        letter-spacing: 1.2px;
        margin: 20px;
    }
    .wrapper2,.wrapper3,.wrapper4{
        color:white;
        background-color:rgba(15, 15, 15, 0.38);
        padding:20px;
        transform:translate(-50%,-50%);
        top:50%;
        left:50%;
        position: absolute;
        height:350px;
        width:300px;
        border-radius:10px;
        display:none;

    }
    .wrapper2 i, .wrapper3 i{
        border:1px solid white;
        border-radius: 100%;
        padding:5px;
        font-size:20px;
        float: left;
    }
    .wrapper2 form, .wrapper3 form{
        display:flex;
        flex-direction: column;
        align-items: center;
        color:white;
        margin:10px;
    }
    .wrapper2 form h1, .wrapper3 form h1{
        letter-spacing: 1.3px;
    }
    .wrapper2 form label, .wrapper3 form label{
        font-size:25px;
        letter-spacing: 1.2px;
    }
    .wrapper2 input, .wrapper3 input{
        border:1px solid gray;
        border-radius:15px;
        height:20px;
        width:200px;
        padding:5px;
    }
    .wrapper2 button, .wrapper3 button, .btn-user button{
        width:210px;
        background:rgb(250,100,50);
        padding:5px;
        border-radius:15px;
        border:1px solid rgb(250,100,50);
        color:white;
        font-size:20px;
        letter-spacing: 1.2px;
    }
    .wrapper2-active{
        display:block;
    }
    .wrapper3{
        height:430px;
    }
    .wrapper3-active{
        display:block;
    }
    .wrapper4{
        display:block;
    }
    #user i{
        font-size:50px;
    }
    .btn-user button{
        width:125px;
        margin:0px 10px;
    }
}