<%- include('../partials/head') %>
<body>
    <div class="wrapper4">
    <div id="user">
            <i class="fa fa-user-circle"></i>
            <p style="font-size:20px">Gustavo Luis de Almeida Tenório</p>
            <hr>
            <h3>Email</h3>
            <p>gltenorio@hotmail.com</p>
            <h3>Idade</h3>
            <p>20</p>
            <div class="btn-user">
                <button>Editar</button>
                <button>Sair</button>
            </div>
            
        </div>
    </div>
</body>
</html>